.main-container {
  min-height: 100%;
  background: #f5f5f5;

  .left-panel {
    background: #262626;
  }
  .right-panel {
    background: whitesmoke;
  }
  .center-content {
    padding: 15px 39px 0 27px;
    mat-toolbar-row {
      padding: 0;
      height: unset;
      .toolbar-title {
        color: #000000;
        font-family: "Open Sans", serif;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: -0.8px;
        line-height: 36px;
      }
    }
  }
}

.divider {
  margin-left: 16px;
}

.search-field {
    font-family: "Open Sans", serif;
  font-size: 15px;
  letter-spacing: -0.1px;
  line-height: 20px;
  height: 44px;
  width: 350px;

  ::ng-deep .mat-input-server:focus .mat-form-field-label {
    color: red;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: green;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    border-radius: 25px;
    height: 100%;
    margin: 0;
  }

  ::ng-deep .mat-form-field-flex {
    margin: 0;
    padding: 0 16px 0 13px;
    align-items: center;
    height: 100%;
  }

  ::ng-deep .mat-form-field-outline {
    top: 0;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    border-radius: 25px;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: 0;
    bottom: 0;
    padding: 0;
  }

  ::ng-deep .mat-form-field-infix {
    border: 0;
  }

  ::ng-deep .mat-form-field-prefix {
    top: 0;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
  }

  ::ng-deep .mat-form-field-label {
    top: 1.34375em;
  }

  ::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }

  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }

  ::ng-deep .mat-select-arrow-wrapper {
    opacity: 0;
  }
}

.add-button {
  background: #8e9197;
  color: #ffffff;
}

.nav-panel {
  .bottom-line {
    margin: 0 -39px 0 -27px;
    border-bottom: 1px solid #E4E6EB;
  }
  a {
    padding: 0;
    min-width: unset;
    opacity: 0.4;
    color: #000000;
    font-family: "Open Sans", serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.31px;
    line-height: 20px;
    text-align: center;
    .tab-text {
      padding: 0 5px;
      mat-icon {
        height: 18px;
      }
    }
    .underscore {
      opacity: 0;
      height: 3px;
      width: 100%;
      border-radius: 100px 100px 0 0;
      background-color: #262626;
    }
    &.active {
      opacity: 1;
      color: #262626;
      font-family: "Open Sans", serif;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -0.31px;
      line-height: 20px;
      .underscore {
        opacity: 1;
        background-color: #262626;
      }
    }
  }
}

::ng-deep .more-menu {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.04);
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.11);
  button.active {
    color: #262626;
    font-weight: bold;
  }
}
