<div fxLayout="row" class="main-container">
  <div fxLayout="column" class="left-panel">
    <img src="assets/left-panel.png" alt="left panel">
  </div>
  <div fxLayout="column" fxFlex="1 1 100%" class="center-content">
    <mat-toolbar color="secondary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="toolbar-title">Payment Requests</span>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-form-field appearance="outline" fxFlexAlign="end" class="search-field">
            <mat-label>Search Invoices</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" matInput>
          </mat-form-field>
          <button mat-icon-button class="add-button">
            <mat-icon aria-hidden="false">add</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="nav-panel" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px">
        <a routerLink="all-payments" mat-button routerLinkActive="active">
          <div fxLayout="column">
            <span class="tab-text">All</span>
            <div class="underscore"></div>
          </div>
        </a>
        <a routerLink="outstanding" mat-button routerLinkActive="active">
          <div fxLayout="column">
            <span class="tab-text">Outstanding</span>
            <div class="underscore"></div>
          </div>
        </a>
        <a routerLink="paid" mat-button routerLinkActive="active">
          <div fxLayout="column">
            <span class="tab-text">Paid</span>
            <div class="underscore"></div>
          </div>
        </a>
        <a mat-button routerLinkActive="active">
          <div fxLayout="column">
            <div class="tab-text" fxLayout="row" fxLayoutAlign="flex-start center"
                  [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <span>More</span>
              <mat-icon aria-hidden="false">keyboard_arrow_down</mat-icon>
            </div>
            <div class="underscore"></div>
            <mat-menu #menu="matMenu" class="more-menu">
              <button routerLink="more/archived" routerLinkActive="active" mat-menu-item>Archived</button>
              <mat-divider class="divider"></mat-divider>
              <button routerLink="more/received-payments" routerLinkActive="active"
                      mat-menu-item>Received Payments</button>
              <button routerLink="more/stripe-funding" routerLinkActive="active" mat-menu-item>Stripe Funding</button>
            </mat-menu>
          </div>
        </a>
      </div>
      <div class="bottom-line"></div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div fxLayout="column" class="right-panel">
    <img src="assets/actions-panel.png" alt="actions panel">
  </div>
</div>
